# Relatório de Testes

TC01 — PASS  
TC02 — PASS  
TC03 — PASS  
TC04 — PASS  
TC05 — PASS  
TC06 — PASS  
TC07 — PASS
